---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="L1lly">
	<main>
		<h1>L1lly</h1>
		<div class="link-card-grid">
			<Card
				href="/projects/1"
				title="my projects"
				body="have a look at my programming projects"
				target="_self"
			/>
			<Card
			    href="https://enea.tech"
			    title="my love",
                body="Website of my favorite person that I love unconditionally",
			/>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 0 1.5rem;

	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin-bottom: 5rem;
	}
</style>
